@model UploadDropBoxViewModel
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <style>
        #loadingImg {
            display: none;
            vertical-align:middle;
            align-content:center;
                
        }

        input[type="file"] {
            display: block;
        }
    </style>
}
<div class="row">
    <div class="col-md-6">
       

        <div id="uploadImageSection">
            @*<img src="~/assets/images/avatars/Loading2.gif" id="loadingImg" />*@
            @*<img src="~/assets/Uploading/Uploading.gif" id="loadingImg"/>*@
            @*<img src="~/assets/Uploading/Uploadingdots.gif" id="loadingImg" class="align-content-center"/>*@
            @*<img src="~/assets/Uploading/UploadingLeaf.gif" id="loadingImg" class="align-content-center" />*@
            <img src="~/assets/Uploading/LoadingBird.gif" id="loadingImg" class="align-content-center" />
        </div>
        <div id="frmSection">
            <div class="card">
                <div class="card-header bg-success text-white">
                    Upload Mutiple Files
                </div>
                <div class="card-body">

                    <form id="frmData" asp-area="DropBox" asp-controller="UploadDropBox" asp-action="Upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="files" id="files" value="" class="form-control" multiple />
                        <button type="submit" id="btnSave" class="btn btn-success">Create</button>
                    </form>
                </div>
                <div class="card-footer bg-success text-white">

                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <script>
        $(document).ready(function () {

        })



        $('#btnSave').click(function () {

            $('#frmData').on('submit', function (event) {
                event.preventDefault();
                var form = $("#frmData")[0];
                var frmdata = new FormData(form);
                var files = $('input[type="file"').get(0).files;
                $.each(files, function (i, file) {
                    var pReader = new FileReader();
                    pReader.addEventListener("load", function (e) {

                        frmdata.append("imageList", file.name);
                        console.log(file.name);
                    });
                    pReader.readAsDataURL(file);
                });

                console.log(frmdata);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You want to save this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, save it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/DropBox/UploadDropBox/Upload",
                            type: "POST",
                            data: frmdata,
                            enctype: "multipart/form-data",
                            dataType: "json",
                            processData: false,
                            contentType: false,
                            cache: false,
                            timeout: 3600000,
                            beforeSend: function () {
                                $('#btnSave').attr('disabled', 'disabled');
                                $("#uploadImageSection").show();
                                $("#frmSection").hide();
                                $('#btnSave').val('Submitting...');
                                $('#loadingImg').show();

                            }
                        }).done(function (data) {
                            $('#loadingImg').hide();
                            $('#btnSave').attr('disabled', false);
                            swal.fire('success', 'Saved file Successfully!', 'success').then(function () {
                                $("#uploadImageSection").show();
                                $("#frmSection").hide();
                                window.location.reload();
                                console.log(data.responseMessage);
                            })
                        }).fail(function () {
                            $("#uploadImageSection").show();
                            $("#frmSection").hide();
                            $('#loadingImg').hide();
                            $('#btnSave').attr('disabled', false);
                            swal.fire('warning', 'Failed!', 'warning');
                        })
                    }

                });

            })
        })
    </script>
}
