@model CreateDropBoxViewModel
@{
    ViewData["Title"] = "CreateFolder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <form asp-area="DropBox" asp-controller="CreateDropBox" asp-action="CreateFolder" method="post">
            <input type="text" name="FolderName" id="FolderName" value="" required/>
            <button type="submit">Create</button>
        </form>
    </div>
</div>

